.passwordField {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputSenhaRegister {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1.8px solid #777777;
  border-radius: 20px;
  font-size: 14px;
  background-color: var(--background);
  color: #333;
}

.passwordField i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #777777;
  font-size: 16px;
}